@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"); /* Font-Awesome Icons */

:root {
  --font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  --mono-space: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;

  --background: midnightblue;
  --primary: rgb(17, 17, 67);
  --shadow: navy;

  --secondary: #5468ff;
  --tertiary: #5adaff;
  --accent: blueviolet;

  --green: #3faf3f;
  --light-green: #85ec77;
  --red: #ff5468;
  --light-red: #fa7c7c;
  --orange: #ff9f54;
  --light-orange: #ffbf7c;

  --text-primary: #ffffff;
  --text-secondary: #e0e0ff;

  --max-width: min(100ch, 100vw);
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html[data-theme="dark"] {
  color-scheme: dark;
}

html[data-theme="light"] {
  --background: #f6f7fb;
  --primary: #ffffff;
  --shadow: rgba(0, 0, 0, 0.15);

  --secondary: #2196F3;
  --tertiary: #00BCD4;
  --accent: #7b5cff;

  --green: #2f9e44;
  --light-green: #69db7c;
  --red: #e03131;
  --light-red: #ff8787;
  --orange: #f76707;
  --light-orange: #ffa94d;

  --text-primary: #1f2937;
  --text-secondary: #4b5563;

  color-scheme: light;
}

/* ===================== PAGE LAYOUT ===================== */
body,
html {
  padding: 0%;
  margin: 0%;
}

body {
  background-color: var(--background);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  color: var(--text-primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  position: relative;
  box-shadow: 0px 2px 25px 0px var(--shadow);
  padding: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

header * {
  display: inline;
  vertical-align: middle;
}

header img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-right: 10px;
}

header > div:last-child {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

main {
  margin-top: 1.5em;
}
main, .center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

footer {
  background-color: var(--primary);
  color: var(--text-primary);
  width: 100%;
  text-align: center;
  padding: 1px;
  box-shadow: 0px -2px 25px 0px var(--shadow);
}
footer p {
  text-align: center;
  padding: 0;
}

section {
  color: var(--text-primary);
  background-color: var(--primary);
  padding: 1em;
  border-radius: 10px;
  width: 80%;
  max-width: var(--max-width);
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 2px 25px 0px var(--shadow);
}

@media only screen and (max-width: 800px) {
  section {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }
}

/* ===================== UI COMPONENTS ===================== */
a {
  color: var(--text-primary);
}
p, .left-align {
  text-align: left;
  padding-left: 8px;
  width: 100%;
  display: inline-block;
}

.spread-inline {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.fill-spread {
  flex-grow: 1;
}

input[type="search"], 
input[type="text"], 
input[type="number"], 
input[type="date"],
input[type="datetime-local"],
textarea {
  background-color: var(--primary);
  color: var(--text-primary);
  border: 1px solid var(--secondary);
  border-radius: 6px;
  padding: 7px;
  margin: 5px;
  min-width: 30ch;
}
input[type="search"]:focus-visible, 
input[type="text"]:focus-visible, 
input[type="number"]:focus-visible, 
input[type="date"]:focus-visible,
input[type="datetime-local"]:focus-visible,
textarea:focus-visible {
  outline: 1px solid var(--tertiary);
}

input[type="checkbox"], input[type="radio"] {
  accent-color: var(--secondary);
  border: 1px solid var(--secondary);
}
label:hover > input[type="checkbox"],
input[type="checkbox"]:focus-visible,
label:hover > input[type="radio"],
input[type="radio"]:focus-visible {
  accent-color: var(--accent);
}
label:has(> input[type="checkbox"]):hover,
label:has(> input[type="checkbox"]:focus-visible),
label:has(> input[type="radio"]):hover,
label:has(> input[type="radio"]:focus-visible) {
  cursor: pointer;
  background-color: var(--secondary);
}
input:disabled {
  opacity: 0.6;
}
label.green > input[type="checkbox"],
label.green > input[type="radio"] {
  accent-color: var(--light-green);
}
label.green:hover > input[type="checkbox"],
label.green > input[type="checkbox"]:focus-visible,
label.green:hover > input[type="radio"],
label.green > input[type="radio"]:focus-visible {
  accent-color: var(--light-green);
}
label.green:has(> input[type="checkbox"]):hover,
label.green:has(> input[type="checkbox"]:focus-visible),
label.green:has(> input[type="radio"]):hover,
label.green:has(> input[type="radio"]:focus-visible) {
  cursor: pointer;
  background-color: var(--green);
}
label.red > input[type="checkbox"],
label.red > input[type="radio"] {
  accent-color: var(--light-red);
}
label.red:hover > input[type="checkbox"],
label.red > input[type="checkbox"]:focus-visible,
label.red:hover > input[type="radio"],
label.red > input[type="radio"]:focus-visible {
  accent-color: var(--light-red);
}
label.red:has(> input[type="checkbox"]):hover,
label.red:has(> input[type="checkbox"]:focus-visible),
label.red:has(> input[type="radio"]):hover,
label.red:has(> input[type="radio"]:focus-visible) {
  cursor: pointer;
  background-color: var(--red);
}

input[type="checkbox"].expander {
  appearance: none;
  border: none;
  margin: 0;
  translate: 0 25%;
}
input[type="checkbox"].expander:before {
  content: '';
  background-image: url('./assets/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 1.8em;
  height: 1.8em;
}
input[type="checkbox"].expander:checked:before {
  background-image: url('./assets/down-arrow.svg');
}

textarea {
  min-height: 10ch;
  width: calc(100% - 10px);
  resize: vertical;
}

select {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
  rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: white;
  border: 0;
  border-radius: 6px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 24px;
  margin: 5px;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary);
  background-image: url("/assets/down-arrow.svg"), radial-gradient(
    100% 100% at 100% 0,
    var(--tertiary) 0,
    var(--secondary) 100%
  );
  background-size: 24px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 4px) center, center, center;
}

dialog {
  background-color: var(--background);
  color: var(--text-primary);
  width: var(--max-width);
  max-width: var(--max-width);
  text-align: center;
}
dialog::backdrop {
  backdrop-filter: blur(1px);
}

/* Fancy button with background gradient and animation */
.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--tertiary) 0,
    var(--secondary) 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 5px;
  min-width: 12ch;
  font-size: 0.8rem;
}
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button:hover:not(:active):not(:disabled) {
  transform: translateY(-2px);
}
.button:active {
  transform: translateY(2px);
}
.button:any-link {
  color: white;
  -webkit-tap-highlight-color: transparent;
}
.button--red {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--light-red) 0,
    var(--red) 100%
  );
}
.button--green {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--light-green) 0,
    var(--green) 100%
  );
}
.button--orange {
  background-image: radial-gradient(
    100% 100% at 100% 0,
    var(--light-orange) 0,
    var(--orange) 100%
  );
}

/* Round add button */
.add {
  background-color: var(--tertiary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-size: 1.5rem;
  border: none;
  padding: 0px;
  transition: transform 0.15s;
  margin-bottom: 20px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
}
.add:hover:not(:active) {
  transform: translateY(-2px);
}
.add:active {
  transform: translateY(2px);
}

table {
  border-spacing: 16px 0;
  border-collapse: collapse;
  margin-bottom: 10px;
}
tbody tr {
  border-top: 1px dashed var(--text-secondary);
}
@media only screen and (max-width: 500px) {
  /* Force table to not be like tables anymore */
  table, 
  thead, 
  tbody, 
  th, 
  td, 
  tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tbody tr {
    /* Behave like a "column" */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
  }
  tbody tr:not(:nth-child(1)) {
    border-top: 1px solid whitesmoke;
  }

  td { 
    /* Behave  like a "row" */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-top: 1px dashed whitesmoke;
  }
  td:last-of-type {
    border-bottom: 1px dashed whitesmoke;
  }

  td:before { 
    /* Label the data */
    content: attr(data-title); 
    /* Look like a table header */
    white-space: nowrap;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

[data-title="Correct Responses"] span {
  border: 1px dotted white;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-title="Correct Responses"] i {
  margin: auto;
}
#results table th {
  padding: 0 8px;
}

/* Theme toggle from Uiverse.io by JkHuger */ 
.theme {
  display: flex;
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.6666);
  margin-right: -1.5em;
  --transDur: 0.3s;
}

.theme__icon,
.theme__toggle {
  z-index: 1;
}

.theme__icon,
.theme__icon-part {
  position: absolute;
}

.theme__icon {
  display: block;
  top: 0.7em;
  left: 0.725em;
  width: 1.5em;
  height: 1.5em;
  transition: var(--transDur);
}

/* Handle Safari Rendering Bugs */
@supports (font: -apple-system-body) {
  .theme__icon {
    top: 0.5em;
    left: 0.4em;
  }

  .theme .theme__toggle:checked ~ .theme__icon {
    transform: translateX(2.55em);
  }
}

.theme__icon-part {
  border-radius: 50%;
  box-shadow: 0.4em -0.4em 0 0.5em hsl(0,0%,100%) inset;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out,
		opacity var(--transDur) ease-in-out,
		transform var(--transDur) ease-in-out;
  transform: scale(0.5);
}

.theme__icon-part ~ .theme__icon-part {
  background-color: hsl(0,0%,100%);
  border-radius: 0.05em;
  top: 50%;
  left: calc(50% - 0.05em);
  transform: rotate(0deg) translateY(0.5em);
  transform-origin: 50% 0;
  width: 0.1em;
  height: 0.2em;
}

.theme__icon-part:nth-child(3) {
  transform: rotate(45deg) translateY(0.45em);
}

.theme__icon-part:nth-child(4) {
  transform: rotate(90deg) translateY(0.45em);
}

.theme__icon-part:nth-child(5) {
  transform: rotate(135deg) translateY(0.45em);
}

.theme__icon-part:nth-child(6) {
  transform: rotate(180deg) translateY(0.45em);
}

.theme__icon-part:nth-child(7) {
  transform: rotate(225deg) translateY(0.45em);
}

.theme__icon-part:nth-child(8) {
  transform: rotate(270deg) translateY(0.5em);
}

.theme__icon-part:nth-child(9) {
  transform: rotate(315deg) translateY(0.5em);
}

.theme__label,
.theme__toggle,
.theme__toggle-wrap {
  position: relative;
}

.theme__toggle,
.theme__toggle:before {
  display: block;
}

.theme__toggle {
  background-color: hsl(48,90%,85%);
  border-radius: 25% / 50%;
  box-shadow: 0 0 0 0.125em var(--primary);
  padding: 0.25em;
  width: 6em;
  height: 3em;
  -webkit-appearance: none;
  appearance: none;
  transition: background-color var(--transDur) ease-in-out,
		box-shadow calc(var(--transDur) / 2) ease-in-out,
		transform var(--transDur) ease-in-out;
}

input[type="checkbox"].theme__toggle {
  border: none;
}

.theme__toggle:before {
  background-color: hsl(48,90%,55%);
  border-radius: 50%;
  content: "";
  width: 2.5em;
  height: 2.5em;
  transition: var(--transDur);
}

.theme__toggle:focus {
  box-shadow: 0 0 0 0.125em var(--primary);
  outline: transparent;
}

.theme__toggle:checked {
  background-color: hsl(198,90%,15%);
}

.theme__toggle:checked:before,
.theme__toggle:checked ~ .theme__icon {
  transform: translateX(3em);
}

.theme__toggle:checked:before {
  background-color: hsl(198,90%,55%);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(1) {
  box-shadow: 0.2em -0.2em 0 0.2em hsl(0,0%,100%) inset;
  transform: scale(1);
  top: 0.2em;
  left: -0.2em;
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part ~ .theme__icon-part {
  opacity: 0;
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(2) {
  transform: rotate(45deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(3) {
  transform: rotate(90deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(4) {
  transform: rotate(135deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(5) {
  transform: rotate(180deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(6) {
  transform: rotate(225deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(7) {
  transform: rotate(270deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(8) {
  transform: rotate(315deg) translateY(0.8em);
}

.theme__toggle:checked ~ .theme__icon .theme__icon-part:nth-child(9) {
  transform: rotate(360deg) translateY(0.8em);
}

.theme__toggle-wrap {
  margin: 0 0.75em;
}

@supports selector(:focus-visible) {
  .theme__toggle:focus {
    box-shadow: 0 0 0 0.125em var(--primary);
  }

  .theme__toggle:focus-visible {
    box-shadow: 0 0 0 0.125em var(--primary);
  }
}
